#box-1, #box-2, #box-3, #box-4, #box-5, #box-6 {
  border-bottom: black solid 1px;
}

#box-1, #box-2, #box-4, #box-5, #box-7, #box-8 {
  border-right: black solid 1px;
}


#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 400px;
  height: 400px;
}

.box {
  background-color: #ccc;
}
